<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>221995259375-lr4s5ufllgfhskkivem8n2uoai79ipga.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.221995259375-lr4s5ufllgfhskkivem8n2uoai79ipga</string>
	<key>API_KEY</key>
	<string>AIzaSyBAd7ERh7jVWuRLiaWWZeLboo_OLaIMfig</string>
	<key>GCM_SENDER_ID</key>
	<string>221995259375</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.anu.SlicePayAssignment</string>
	<key>PROJECT_ID</key>
	<string>slicepaytsk</string>
	<key>STORAGE_BUCKET</key>
	<string>slicepaytsk.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:221995259375:ios:933bf860efe66a6d</string>
	<key>DATABASE_URL</key>
	<string>https://slicepaytsk.firebaseio.com</string>
</dict>
</plist>